<div class="w-full max-w-md mx-auto my-8">
  <div class="bg-white border border-gray-300 rounded-lg px-8 pt-6 pb-4 text-center">
    <div class="input-group">
      <h2 class="text-2xl">You were invited by <%= @invited_by.first_name %> to "<%= @invitation.flat.title %>"</h2>
    </div>
    <div class="input-group">
      <%= link_to 'Accept invitation', groups_path(group: {user_id: current_user.id, flat_id: @invitation.flat}), method: :post, class:"btn btn-green" %>
    </div>
    <div class="input-group">
      <%= link_to 'Decline invitation', root_path, class:"btn btn-red" %>
    </div>
  </div>
</div>



